/*
gray: #777777
blue: #8099FF
yellow: #FFE680
*/

html, body {
  color: #777777;
  background-color: #FFE680;
  font-family: 'Comfortaa', cursive;
  margin: 0;
}
a {
  color: #8099FF;
  text-decoration: none;
}
.container-main {
  background-color: #FFE680;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.container-app {
  width: 90%;
  background-color: #fff;
  margin: 1em auto;
  padding: 1em 0;
  text-align: center;
}
.title {
  font-size: 2em;
}
.loading-text {
  color: #8099FF;
  padding-top: 3em;
  animation-duration: 2s;
  animation-name: fade-in-out;
  animation-iteration-count: 5;
}
@keyframes fade-in-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.3;
  }
}
.weather {
  width: 100%;
  visibility: hidden;
  /* display: none; */
}
.city {
  font-size: 1.5em;
  color: #8099FF;
  margin: 1em 0;
}
.temp {
  font-size: 1.5em;
  margin-top: 1em;
}
.description {
  font-size: 1.5em;
  margin: 0.7em 0;
}
.icon {
  height: 70vmin;
  width: 70vmin;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.icon > img {
  height: 70vmin;
  width: auto;
  position: absolute;
  left: -20vmin;
}
 @media (min-width: 500px) {
  .icon {
    height: 50vmin;
    width: 50vmin;
  }
  .icon > img {
    height: 50vmin;
    left: -10vmin;
  }
}
  @media (min-width: 700px) {
  .container-app {
    width: 500px;
  }
  .icon {
    width: 300px;
    height: 300px;
  }
  .icon > img {
    height: 300px;
    left: -50px;
  }
}
button {
  background-color: #8099FF;
  color: #fff;
  font-size: 1.3em;
  padding: 0.5em;
  margin: 0 0.5em;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
}
button:hover {
  background-color:#FFE680;
  cursor: pointer; cursor: hand;
}
footer {
  text-align: center;
  margin-top: 1em;
  padding: 0 0.5em;
}
footer > p {
  margin: 0 0.5em;
  font-size: 1em;
}
.img-attribution {
  margin: 0 0.5em;
  font-size: 1em;
}
